.NoteContainer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0.25rem 0;
    flex-wrap: wrap;
}

.ButtonContainer{
    display: flex;
    justify-content: space-between;
}

.Button{
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

.Pencil{
    background-color: #ffff6f;
}

.Thrash{
    background-color: #fc6b6b;
    font-weight: bold;
}

.Text{
    border: 1px dashed rgb(150, 150, 150);
    flex: 1;
}

.Selection{
    border: 2px solid rgb(50, 50, 50);
}