.NoteContainer{
    margin: 2rem 2rem 0 2rem;
}

.ButtonContainer{
    display: flex;
}

.Button{
    flex: 1;
}

.Pencil{
    background-color: #ffff97;
}

.Thrash{
    background-color: #ff7b7b;
    font-weight: bold;
}

.Text{
    border: 1px dashed rgb(150, 150, 150);
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: rgb(255, 240, 240);
    min-width: 10rem;
    max-width: 15rem;
    min-height: 5rem;
    max-height: 14.4rem;
}

.Selection{
    border: 2px solid rgb(50, 50, 50);
}