.NoteScreen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.ButtonsContainer{
    display: flex;
    justify-content: space-evenly;
}

.TextArea{
    flex: 1;
    min-height: 2rem;
    margin-bottom: 2rem;
}