.MainScreen{
    width: 100%;
    height: 100%;
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.List{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-bottom: 2rem;
    justify-content: center;
    list-style-type: none;
}

.Text{
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
}