.App{
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: rgb(232, 242, 255);
}

.Header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 100, 100);
}

.Header > h1{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}